.idea/
node_modules/
/*.*
wp-admin/
wp-includes/
#wp-content/index.php
#wp-content/plugins
#wp-content/uploads
#wp-content/gallery
#wp-content/languages
#wp-content/ngg
#wp-content/themes/index.php

wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/arcsecdev/
wp-content/themes/arcsecdev/assets/css/gutenberg_block/.gitkeep
#wp-content/themes/arcsecdev/assets/js/gutenberg_block/.gitkeep
wp-content/themes/arcsecdev/assets/js/build.js
wp-content/themes/arcsecdev/main.css

!.gitignore
!CHANGELOG.md
!package.json
!webpack.config.js
!postcss.config.js
!yarn.lock
